$color-pink: #faa7ed;
$color-navy: #0c1f72;
$color-navy-opaque: rgba(6, 0, 79, 0.77);
$color-light: #ffffff;
$color-dark: #252525;
$font-serif: Georgia, serif;
$font-sans: Helvetica, sans-serif;
$metric-wrapper: 40rem;
$metric-gutter: 1.25rem;
$transition-snappy: 200ms linear;
$transition-silky: 300ms cubic-bezier(1, 0, 0.55, 0.85);

.container {
  padding: $metric-gutter;
}

.header {
  font-size: 3rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: $metric-gutter;
  padding-top: $metric-gutter;
}

.card {
  background-color: $color-pink;
  position: relative;
  height: 300px;
  &:hover {
    .caret {
      display: block;
    }
    .headshot {
      opacity: 1;
    }
    .overlay {
      background-color: mix($color-navy, $color-dark);
    }
  }
  .headshot {
    transition-timing-function: ease-in-out;
    transition: $transition-snappy;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 25%;
  background-color: $color-navy-opaque;
  color: $color-light;
  font-family: $font-serif;
  transition-timing-function: ease-in-out;
  transition: $transition-snappy;
  .caret {
    display: none;
    padding-right: 0.6rem;
    .svg{
      height: 50%;
      filter: brightness(0) invert(1);
    }
  }
  span {
    padding-left: 10px;
    display: block;
    line-height: 1.75;
  }
}

.name {
  margin-bottom: -10px;
  font-size: 22px;
}

.title {
  font-size: 20px;
}