$color-pink: #faa7ed;
$color-navy: #0c1f72;
$color-navy-opaque: rgba(6, 0, 79, 0.77);
$color-light: #ffffff;
$color-dark: #252525;
$font-serif: Georgia, serif;
$font-sans: Helvetica, sans-serif;
$metric-wrapper: 40rem;
$metric-gutter: 1.25rem;
$transition-snappy: 200ms linear;
$transition-silky: 300ms cubic-bezier(1, 0, 0.55, 0.85);

.header {
  font-size: 25px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: $metric-gutter;
}

.card {
  background-color: $color-pink;
  position: relative;
  height: 300px;
  &:hover {
    .caret {
      display: block;
    }
    img {
      opacity: 1;
    }
  }
}

.card img {
  transition-timing-function: ease-in;
  transition: $transition-snappy;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  background: $color-navy-opaque;
  width: 100%;
  color: $color-light;
  font-family: $font-serif;
  height: 25%;
  .caret {
    display: none;
    width: 25px;
    padding-right: 20px;
  }
  span {
    padding-left: 10px;
  }
}

.name {
  margin-bottom: -10px;
  font-size: 22px;
}

.title {
  font-size: 20px;
}

span {
  display: block;
  line-height: 1.75;
  // bottom: 0;
}
